:root {
  --container-cards-z-index: 0;
  --header-z-index: 1;
  --product-cart-z-index: 2;

  --white-color-1: #ffffff;
  --white-color-2: #cccccc;
  --white-color-3: #666666;
  --white-color-4: #333333;
  --teal-color-1: #B2DFDB;
  --teal-color-2: #009688;
  --teal-color-3: #00796B;
  --orange-color-1: #FFCCBC;
  --orange-color-2: #FF5722;
  --orange-color-3: #E64A19;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  
  box-sizing: border-box;
}